@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes dash {
  0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -45;
  }
  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -120;
  }
}
.cart-drawer {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  box-shadow: 7px 0 17px #000;
  visibility: hidden;
  transition-duration: 0.3s;
  transition-property: visibility;
  transition-timing-function: ease;
}
.cart-drawer.open {
  visibility: visible;
}
.cart-drawer.open .cart-drawer__wrapper {
  transform: translateX(0);
}
.cart-drawer.open .cart-drawer__overlay {
  opacity: 0.25;
}
.cart-drawer.loading .cart-drawer__loader-wrapper {
  opacity: 1;
  visibility: visible;
}
.cart-drawer.loading .cart-drawer__loader-wrapper::after {
  opacity: 0.4;
}

.cart-drawer__container {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100%;
}

.cart-drawer__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 0;
  transition-property: opacity;
  transition-duration: 0.3s;
  transition-timing-function: ease;
}

.cart-drawer__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 20px;
  padding-left: 20px;
  max-width: 400px;
  background-color: #ffffff;
  margin-left: auto;
  transition-duration: 0.3s;
  transition-property: transform;
  transition-timing-function: ease;
  transform: translateX(100%);
}

.cart-drawer__loader-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 10;
  visibility: hidden;
  transition-duration: 0.2s;
  transition-property: visibility, opacity;
  transition-timing-function: ease;
}
.cart-drawer__loader-wrapper .spinner-wrapper {
  width: 60px;
  height: 60px;
}
.cart-drawer__loader-wrapper .spinner-wrapper svg {
  width: 100%;
  height: 100%;
}
.cart-drawer__loader-wrapper .spinner {
  animation: rotate 2s linear infinite;
}
.cart-drawer__loader-wrapper .spinner .path {
  stroke-width: 4px;
  stroke: #000000;
  stroke-linecap: round;
  animation: dash 2s linear infinite;
}
.cart-drawer__loader-wrapper::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
}

.cart-drawer__heading-group {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  border-bottom: 1px solid #d3d3d3;
  padding-bottom: 20px;
}

.cart-drawer__heading-group-top {
  position: relative;
}

.cart-drawer__threshold-progress {
  position: relative;
  width: 100%;
  height: 10px;
  background-color: #bebebe;
}
.cart-drawer__threshold-progress::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  max-width: 100%;
  width: var(--cart-threshold-progress);
  height: 100%;
  background-color: #000000;
}

.cart-drawer__heading {
  font-size: 32px;
  line-height: 1.23;
  font-weight: 600;
  text-transform: capitalize;
  margin-top: 0;
  margin-bottom: 0;
}

.cart-drawer__close-button {
  position: absolute;
  top: -10px;
  right: -10px;
  width: 32px;
  height: 32px;
  background-color: transparent;
  border: unset;
  cursor: pointer;
}
.cart-drawer__close-button::after, .cart-drawer__close-button::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 2px;
  border-radius: 1px;
  background-color: #7a7a7a;
  transition-duration: 0.3s;
  transition-property: background-color;
  transition-timing-function: ease;
}
.cart-drawer__close-button::after {
  transform: rotate(45deg);
}
.cart-drawer__close-button::before {
  transform: rotate(-45deg);
}
.cart-drawer__close-button:hover::after, .cart-drawer__close-button:hover::before {
  background-color: #000000;
}

.cart-drawer__heading-count {
  font-size: 18px;
  line-height: 1;
}

.cart-drawer__body {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.cart-drawer__empty-heading {
  font-size: 32px;
  line-height: 1.23;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 32px;
}

.cart-drawer__form {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  flex-grow: 1;
  flex-basis: 0;
}

.cart-drawer__line-items {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  overflow-y: auto;
  flex-grow: 1;
  flex-basis: 0;
}

.cart-drawer__line-item {
  display: flex;
  flex-direction: row;
  width: 100%;
  column-gap: 12px;
}

.cart-drawer__item-image-wrapper {
  display: flex;
  align-items: center;
}

.cart-drawer__item-image {
  width: 80px;
  height: 80px;
}

.cart-drawer__item-body {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.cart-drawer__item-body-top {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.cart-drawer__item-title {
  font-size: 18px;
  text-decoration: none;
  color: #000000;
  max-width: calc(100% - 40px);
}

.cart-drawer__item-remove {
  display: block;
  width: 24px;
  height: 24px;
  position: relative;
  margin-left: auto;
}
.cart-drawer__item-remove::after, .cart-drawer__item-remove::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #7a7a7a;
  transition-duration: 0.3s;
  transition-property: background-color;
  transition-timing-function: ease;
}
.cart-drawer__item-remove::after {
  transform: rotate(45deg);
}
.cart-drawer__item-remove::before {
  transform: rotate(-45deg);
}
.cart-drawer__item-remove:hover::after, .cart-drawer__item-remove:hover::before {
  background-color: #000000;
}

.cart-drawer__item-options-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 2px;
}

.cart-drawer__item-option {
  font-size: 14px;
  line-height: 1.14;
  color: #585858;
  margin-top: 0;
  margin-bottom: 0;
}

.cart-drawer__footer-buttons-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  row-gap: 16px;
}

.cart-drawer__item-quantity-button {
  position: relative;
  width: 24px;
  height: 24px;
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 2px;
  padding-left: 2px;
}
.cart-drawer__item-quantity-button svg {
  width: 100%;
  height: 100%;
}

.button,
.cart-drawer__footer-button {
  cursor: pointer;
  display: block;
  background-color: #000000;
  border: unset;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  line-height: 1.12;
  border-radius: 25px;
  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 32px;
  padding-right: 32px;
  box-sizing: border-box;
}

.cart-drawer__footer-button {
  width: 100%;
}

.cart-drawer__footer-group {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: auto;
  border-top: 1px solid #d3d3d3;
  padding-top: 20px;
}

.cart-drawer__footer-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.cart-drawer__footer-textarea-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 4px;
}

.cart-drawer__footer-note-label {
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
}

.cart-drawer__footer-note {
  font-size: 16px;
  max-height: 280px;
  max-width: 100%;
  margin-bottom: 16px;
}