.customers-reviews {
  z-index: 1;
  padding-top: 30px;
  padding-bottom: 30px;
  overflow: hidden;
}

.customers-reviews__heading {
  color: #363636;
  text-align: center;
  font-size: 30px;
  font-family: "F37 Ginger";
  font-weight: 600;
  line-height: 1.24;
  margin-top: 0;
  margin-bottom: 45px;
}

.customers-reviews__slider {
  padding-top: 35px;
  overflow: visible;
}

.customers-reviews__slide {
  display: flex;
  flex-direction: column;
  height: auto;
  position: relative;
}
.customers-reviews__slide:not(:last-of-type) {
  margin-right: 20px;
}

.customers-reviews__slide-top {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  padding-top: 70px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: var(--card-background-color);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.customers-reviews__image {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 70px;
  height: 70px;
}

.customers-reviews__slide-stars {
  display: flex;
  flex-direction: row;
  column-gap: 6px;
  margin-bottom: 15px;
}

.customers-reviews__slide-heading {
  color: #363636;
  text-align: center;
  font-size: 24px;
  font-family: "F37 Ginger";
  line-height: 1.25;
  margin-top: 0;
  margin-bottom: 15px;
  font-weight: 600;
}

.customers-reviews__slide-content {
  color: #363636;
  text-align: center;
  font-size: 16px;
  font-family: "F37 Ginger";
  line-height: 1.58;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 51px;
}

.customers-reviews__slide-author-name {
  color: #363636;
  text-align: center;
  font-size: 20px;
  font-family: "F37 Ginger";
  font-weight: 600;
  line-height: 125%;
  margin-top: auto;
  margin-bottom: 0;
}

.customers-reviews__slide-bottom {
  background-color: var(--card-bottom-background-color);
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.customers-reviews__slide-product-link {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
  padding-right: 50px;
  position: relative;
  color: #FFF;
  font-size: 16px;
  font-family: "F37 Ginger";
  font-weight: 400;
}
.customers-reviews__slide-product-link::after {
  content: "";
  position: absolute;
  width: 23px;
  height: 16px;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  background-image: url('data:image/svg+xml,<svg width="23" height="16" viewBox="0 0 23 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path id="Line 1" d="M22.7071 8.70711C23.0976 8.31658 23.0976 7.68342 22.7071 7.29289L16.3431 0.928932C15.9526 0.538408 15.3195 0.538408 14.9289 0.928932C14.5384 1.31946 14.5384 1.95262 14.9289 2.34315L20.5858 8L14.9289 13.6569C14.5384 14.0474 14.5384 14.6805 14.9289 15.0711C15.3195 15.4616 15.9526 15.4616 16.3431 15.0711L22.7071 8.70711ZM0 9H22V7H0V9Z" fill="white"/></svg>');
  background-size: 23px 16px;
  background-repeat: no-repeat;
}

.customers-reviews__slide-product-image {
  width: 92px;
  height: 70px;
}

.customers-reviews__wrapper {
  padding-bottom: 20px;
}

@media (min-width: 768px) {
  .customers-reviews {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .customers-reviews__heading {
    font-size: 34px;
    margin-bottom: 60px;
  }
  .customers-reviews__slider {
    padding-top: 70px;
  }
  .customers-reviews__slide-top {
    padding-top: 95px;
    padding-bottom: 40px;
  }
  .customers-reviews__image {
    width: 140px;
    height: 140px;
  }
  .customers-reviews__slide-stars {
    margin-bottom: 25px;
  }
  .customers-reviews__slide-author-name {
    font-size: 22px;
  }
}
@media (min-width: 992px) {
  .customers-reviews {
    padding-top: 93px;
    padding-bottom: 93px;
  }
  .customers-reviews__slide {
    width: calc(33.33% - 40px);
  }
  .customers-reviews__slide:not(:last-of-type) {
    margin-right: 60px;
  }
}